* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

img {
    height: 500px;
    width: 300px;
    display: block;
    align-items: center;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 3px black;
}

#orange {
    background-color: orange;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#red {
    background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#blue {
    background-color: lightskyblue;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#purple {
    background-color: violet;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#green {
    background-color: green; 
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#yellow {
    background-color: yellow;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.stones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-top: 10px;
}
