img {
    height: 500px;
    width: 350px;
}

#orange {
    background-color: orange;
}

#red {
    background-color: red;
}

#blue {
    background-color: lightblue;
}

#purple {
    background-color: violet;
}

#green {
    background-color: green; 
}

#yellow {
    background-color: yellow;
}